DATABASE_URL=""
PRISMA_MIGRATE_SHADOW_DATABASE_URL=""
NEXT_PUBLIC_APP_URL=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
QBO_CLIENT_ID=""
QBO_CLIENT_SECRET=""
QBO_REDIRECT_URI=""
INTUIT_ENV=""
PLAID_CLIENT_ID=""
PLAID_SECRET=""
PLAID_ENV=""
PLAID_REDIRECT_URI=""
PLAID_PRODUCTS=""
PLAID_COUNTRY_CODES=""
