@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html, body, :root { height: 100%; }
body { 
  background-color: white; 
  color: #111827; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}